# Set URL for your scoped packages.
# For example package with name `@foo/bar` will use this URL for download
@next-logistics:registry=https://gitlab.com/next-logistics/next3pl-components-package/-/packages

# Add the token for the scoped packages URL. Replace
# with the project where your package is located.
# npm config set -- '//gitlab.com/api/v4/projects/29083036/packages/npm/:_authToken' "q7KXQX5AcnG-bF2envmJ"
'//gitlab.com/api/v4/projects/29083036/packages/npm/:_authToken'="${NPM_PACKAGE_TOKEN}"
'//gitlab.com/api/v4/packages/npm/:_authToken'="${NPM_PACKAGE_TOKEN}"

